@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/**
* Some util style classes
*/
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

.to-center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

/**
* Metamask Button Common Style
*/
.metamask-button {
  width: fit-content;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 45px auto;
  gap: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.metamask-button p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.metamask-button img {
  width: 45px;
  height: 45px;
}

/**
* Metamask Button Light-Theme Style
*/
.metamask-light{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.metamask-light p {
  color: black;
}

.metamask-light:hover{
  background-color: rgb(255, 251, 247);
  box-shadow: 0 0 10px rgba(255, 165, 76, 0.1);
  border: 1px solid rgba(255, 128, 0, 0.3);
}

.metamask-light:active{
  box-shadow: 0 0 10px rgba(255, 165, 76, 0.1), 
              0 0 15px rgba(255, 128, 0, 0.1);
  background-color: rgb(255, 246, 237);
  border: 1px solid rgba(255, 128, 0, 0.5);
  transform: scale(0.99);
}

/**
* Metamask Button Dark-Theme Style
*/
.metamask-dark{
  background-color: #303030;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.metamask-dark p {
  color: white;
}

.metamask-dark:hover{
  background-color: #212121;
  box-shadow: 0 0 10px rgba(255, 128, 0, 0.5);
  border: 1px solid rgba(255, 128, 0, 0.5);
}

.metamask-dark:active{
  background-color: black;
  box-shadow: 0 0 10px rgba(255, 128, 0, 0.5), 
              0 0 15px rgba(255, 128, 0, 0.3);
  border: 1px solid rgba(255, 128, 0, 0.9);
  transform: scale(0.99);
}